<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Ogani | Template</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
</head>
<body>


	<!-- Humberger Begin -->
	<div class="humberger__menu__overlay"></div>
	<div class="humberger__menu__wrapper">
		<div class="humberger__menu__logo">
			<a href="/home"><img th:src="@{/img/logo.png}" alt=""></a>
		</div>
		<div class="humberger__menu__cart"></div>
		<div class="humberger__menu__widget">

			<div class="header__top__right__auth"></div>
		</div>
		<nav class="humberger__menu__nav mobile-menu">
			<ul>
				<li class="active"><a href="/home">Trang Chủ</a></li>
				<li><a href="/prodcut">Cửa Hàng</a></li>
				<li><a href="#">Cá Nhân</a>
					<ul class="header__menu__dropdown">
						<li><a href="./shop-details.html">Chi Tiết Cửa Hàng</a></li>
						<li><a href="/cart">Giỏ Hàng</a></li>
						<li><a href="/checkOut">Thanh Toán</a></li>
						<li><a href="./blog-details.html">Blog Details</a></li>
					</ul></li>
				<li><a href="./blog.html">Tin Tức</a></li>
				<li><a href="/contact">Liên Hệ</a></li>
			</ul>
		</nav>
		<div id="mobile-menu-wrap"></div>
		<div class="header__top__right__social">
			<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
				class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-pinterest-p"></i></a>
		</div>
		<div class="humberger__menu__contact">
			<ul>
				<li><i class="fa fa-envelope"></i> Gmail@example.com</li>
				<li>Miễn Phí Vận Chuyển Toàn Quốc</li>
			</ul>
		</div>
	</div>
	<!-- Humberger End -->

	<!-- Header Section Begin -->
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="header__top__left">
							<ul>
								<li><i class="fa fa-envelope"></i> Email@example.com</li>
								<li>Miễn Phí Vận Chuyển Toàn Quốc</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="header__top__right">
							<div class="header__top__right__social">
								<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
									class="fa fa-twitter"></i></a> <a href="#"><i
									class="fa fa-linkedin"></i></a> <a href="#"><i
									class="fa fa-pinterest-p"></i></a>
							</div>

							<div class="header__top__right__auth">
								<a href="/logout"><i class="fa fa-user"></i>Logout</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="header__logo">
						<a href="/home"><img th:src="@{/img/logo_index.png}" width="120"
							height="80" alt=""></a>
					</div>
				</div>
				<div class="col-lg-6">
					<nav class="header__menu">
						<ul>
							<li class="active"><a href="/home">Trang Chủ</a></li>
							<li><a href="/product">Cửa Hàng</a></li>
							<li><a href="#">Cá Nhân</a>
								<ul class="header__menu__dropdown">
									<li><a href="./shop-details.html">Chi Tiết Cửa Hàng</a></li>
									<li><a href="/cart">Giỏ Hàng</a></li>
									<li><a href="/checkOut">Thanh Toán</a></li>
									<li><a href="./blog-details.html">Tin Tức</a></li>
								</ul></li>
							<li><a href="./blog.html">Tin Tức</a></li>
							<li><a href="/contact">Liên Hệ</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3">
					<div class="header__cart">
						<ul>
							<li><a href="/cart"><i class="fa fa-shopping-bag"></i> <span
									id="total-product"></span></a></li>
						</ul>
						<div class="header__cart__price">
							Giỏ hàng: <span id="total-price"></span> <span>VNĐ</span>
						</div>
					</div>
				</div>
			</div>
			<div class="humberger__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
	<!-- Header Section End -->

	<!-- Hero Section Begin -->
	<section class="hero hero-normal">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="hero__categories">
						<div class="hero__categories__all">
							<i class="fa fa-bars"></i> <span>MENU SẢN PHẨM</span>
						</div>
					<ul>
								<li th:each="category  : ${categories}">
									<button class="btn btn1" type="button" data-toggle="collapse"
										th:data-target="'#collapse-' + ${category.id}"
										aria-expanded="false"
										th:attr="aria-controls='collapse-' + ${category.id}"
										th:text="${category.name}"></button>
									<div th:id="'collapse-' + ${category.id}" class="collapse">
										<div>
											<div th:each="subCategory : ${category.childCate}">

												<a th:href="@{'/danh-muc/' + ${subCategory.id}}"
													class="ml-3 btn btn2" aria-expanded="false"
													th:text="${subCategory.name}"></a>
												<div th:id="'collapse-' + ${subCategory.id}"
													class="collapse"></div>

											</div>
										</div>
									</div>
								</li>
							</ul>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="hero__search">
						<div class="hero__search__form">
							<form th:action="@{/product}" method="get">
								<input type="text" name="name"  th:value="${name}"
									placeholder="Tìm kiếm tên sản phẩm" />
								<button type="submit" class="site-btn">SEARCH</button>
							</form>
						</div>
						<div class="hero__search__phone">
							<div class="hero__search__phone__icon">
								<i class="fa fa-phone"></i>
							</div>
							<div class="hero__search__phone__text">
								<h5>+84 01234567</h5>
								<span>Hỗ trợ 24/7 </span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero Section End -->

	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		th:data-setbg="@{/img/breadcrumb.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>Organi Shop</h2>
						<div class="breadcrumb__option">
							<a href="./index.html">Home</a> <span>Shop</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Product Section Begin -->
	<section class="product spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-5">
					<div class="sidebar">
						<div class="sidebar__item">
							<h4>Department</h4>
						<ul th:each="category  : ${categories}">

								<li th:each="subCategory : ${category.childCate}">

									<a th:href="@{'/danh-muc/' + ${subCategory.id}}"
										class="ml-3 btn btn2" aria-expanded="false"
										th:text="${subCategory.name}"></a>
									<div th:id="'collapse-' + ${subCategory.id}" class="collapse"></div>

								</li>
							</ul>
						</div>

						<div class="sidebar__item">
					<div class="latest-product__text">
						<h4>Latest Products</h4>
						<div class="latest-product__slider owl-carousel">
							<div class="latest-prdouct__slider__item">
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img th:src="@{/img/latest-product/lp-1.jpg}" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a> <a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img th:src="@{/img/latest-product/lp-2.jpg}" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a> <a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img th:src="@{/img/latest-product/lp-3.jpg}" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a>
							</div>
							<div class="latest-prdouct__slider__item">
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img th:src="@{/img/latest-product/lp-1.jpg}" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a> <a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img th:src="@{/img/latest-product/lp-2.jpg}" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a> <a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img th:src="@{/img/latest-product/lp-3.jpg}" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
					</div>
				</div>
				<div class="col-lg-9 col-md-7">
					<div class="filter__item">
						<div class="row">
							<div class="col-lg-4 col-md-5">
								<div class="filter__sort">
									<span>Sort By</span> <a
										th:href="@{/product(sortField=${sortField},  sortDirection=desc, name=${name}, pageSize=${productPage.size},  page=${productPage.number})}">
										<span>Giảm dần</span>
									</a> <a
										th:href="@{/product(sortField=${sortField},  sortDirection=asc, name=${name}, pageSize=${productPage.size},  page=${productPage.number})}">
										<span>Tăng dần</span>
									</a>

								</div>
							</div>
							<div class="col-lg-4 col-md-4">
							
							</div>
							<div class="col-lg-4 col-md-3">
								<div class="filter__sort">
									<span class="icon_ul"></span> <a
										th:href="@{/product(sortField='name',  sortDirection=${sortDirection}, name=${name}, pageSize=${productPage.size},  page=${productPage.number})}"
										class="th-sm">sắp xếp theo tên sản phẩm</a></br> <a
										th:href="@{/product(sortField='price',  sortDirection=${sortDirection}, name=${name}, pageSize=${productPage.size},  page=${productPage.number})}"
										class="th-sm">sắp xếp theo giá</a>

								</div>
							</div>
						</div>
					</div>
					<div class="row">

				<div th:each="product : ${productPage}"
					class="featured__item col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
					<div class="featured__item__pic set-bg">
						<img style="width: 100%" class="width mt-3"
							th:src="@{'data:image/png;base64,' + ${product.img}}" alt="Ảnh">
					</div>
					<ul class="featured__item__pic__hover">
						<li><div class="quantity-input quantily_button_home d-flex"
								style="justify-content: center;">
								<button class="decrease-btn">-</button>
								<input type="text" min="1" value="1" name="quantity">
								<button class="increase-btn">+</button>
							</div></li>
						<li><button class="add-to-cart-btn"	
								th:data-product-id="${product.id}">
								<i class="fa fa-shopping-cart"></i>
							</button></li>
					</ul>
					<div class="featured__item__text">
						<a th:href="@{/product/{productId}(productId=${product.id})}" th:text="${product.name}"></a>

						<h5 th:text="${product.price}"></h5>
						<span>VNĐ</span>

					</div>

				</div>
			</div>
					<div class="mt-5">
						<ul class="pagination">
							<li class="page-item" th:if="${productPage.number > 0}"><a
								th:href="@{/product(page=0, sortDirection=${sortDirection}, sortField=${sortField},  name=${name})}">First</a>
							</li>
							<li class="page-item" th:if="${productPage.hasPrevious()}"><a
								th:href="@{/product(page=${productPage.number - 1}, sortDirection=${sortDirection}, sortField=${sortField}, name=${name})}">Previous</a>
							</li>
							<li class="page-item"
								th:each="i : ${#numbers.sequence(0, productPage.totalPages - 1)}">
								<a
								th:href="@{/product(page=${i}, sortDirection=${sortDirection}, sortField=${sortField}, name=${name})}"
								th:classappend="${i == productPage.number ? 'active' : ''}"
								th:text="${i + 1}"></a>
							</li>
							<li class="page-item" th:if="${productPage.hasNext()}"><a
								th:href="@{/product(page=${productPage.number + 1}, sortDirection=${sortDirection}, sortField=${sortField}, name=${name})}">Next</a>
							</li>
							<li class="page-item"
								th:if="${productPage.number < productPage.totalPages - 1}">
								<a
								th:href="@{/product(page=${productPage.totalPages - 1}, sortDirection=${sortDirection}, sortField=${sortField}, name=${name})}">Last</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Product Section End -->

	<!-- Footer Section Begin -->
		<footer class="footer spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="footer__about">
						<div class="footer__about__logo">
							<a href="./index.html"><img th:src="@{/img/logo.png}" alt=""></a>
						</div>
						<ul>
							<li>Địa Chỉ: Thành Phố Đà Nẵng</li>
							<li>Phone: +84 01234567</li>
							<li>Email: Gmail@example.com</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
					<div class="footer__widget">
						<h6>Thông Tin Thêm</h6>
						<ul>
							<li><a href="#">Về Chúng Tôi</a></li>
							<li><a href="#">Về Cửa Hàng</a></li>
							<li><a href="#">Mua Sắm An Toàn</a></li>
							<li><a href="#">Thông Tin Giao Hàng</a></li>
							<li><a href="#">Chính Sách Bảo Mật</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-12">
					<div class="footer__widget">
						<h6>Nhận Tin Tức Về Chúng Tôi</h6>
						<p>Nhận thông tin cập nhật qua email về cửa hàng mới nhất của
							chúng tôi và các ưu đãi đặc biệt.</p>
						<form action="#">
							<input type="text" placeholder="Nhập Email Của Bạn">
							<button type="submit" class="site-btn">Đăng Ký</button>
						</form>
						<div class="footer__widget__social">
							<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
								class="fa fa-instagram"></i></a> <a href="#"><i
								class="fa fa-twitter"></i></a> <a href="#"><i
								class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="footer__copyright">
						<div class="footer__copyright__text">
							<p>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>
									document.write(new Date().getFullYear());
								</script>
								All rights reserved
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</p>
						</div>
						<div class="footer__copyright__payment">
							<img th:src="@{/img/payment-item.png}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->

	<!-- Js Plugins -->
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<script th:src="@{/js/jquery.slicknav.js}"></script>
	<script th:src="@{/js/mixitup.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>

<script>
		$(document).ready(function() {
			// Tăng số lượng
			$(document).on("click", ".increase-btn", function() {
				var input = $(this).siblings("input");
				var currentValue = parseInt(input.val());
				input.val(currentValue + 1);
			});

			// Giảm số lượng
			$(document).on("click", ".decrease-btn", function() {
				var input = $(this).siblings("input");
				var currentValue = parseInt(input.val());
				if (currentValue > 0) {
					input.val(currentValue - 1);
				}
			});
		});

		$(document)
				.ready(
						function() {
							$(".add-to-cart-btn")
									.click(
											function() {
												var productId = $(this).data(
														"product-id");
												var quantity = $(this)
														.closest(
																".featured__item")
														.find(
																"input[name='quantity']")
														.val();

												$
														.ajax({
															url : "/addProductToCart",
															type : "POST",
															data : {
																productId : productId,
																quantity : quantity
															},
															success : function(
																	response) {
																// Xử lý kết quả thành công
																console
																		.log("Product added to cart successfully!");

																// Cập nhật tổng giá trị sản phẩm trong giỏ hàng
																updateTotalPrice();
															},
															error : function(
																	xhr,
																	status,
																	error) {
																// Xử lý lỗi
																console
																		.error(
																				"Error adding product to cart:",
																				error);
															}
														});
											});

							function updateTotalPrice() {
								$.ajax({
									url : "/calculateTotalPrice",
									type : "GET",
									success : function(response) {
										$("#total-price").text(response);
									},
									error : function(xhr, status, error) {
										// Xử lý lỗi
										console.error(
												"Error updating total price:",
												error);
									}
								});
							}

							updateTotalPrice();

							function updateTotalProduct() {
								$.ajax({
									url : "/calculateTotalProduct",
									type : "GET",
									success : function(response) {
										$("#total-product").text(response);
									},
									error : function(xhr, status, error) {
										// Xử lý lỗi
										console.error(
												"Error updating total price:",
												error);
									}
								});
							}

							updateTotalProduct();

						});
	</script>


</body>
</html>