<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Ogani | Template</title>


<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Css Styles -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">

<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<nav class="navbar navbar-expand-lg ">
		<div class="navbar_left">
			<a class="navbar-brand" href="/admin/">Quản lý bán hàng</a>
		</div>
		<div class="navbar_right">
			<a href="/thoat"> Đăng Xuất </a>
		</div>

	</nav>

	<div class="container-fluid">
		<div class="row">
			<nav class="nav_bar_1 col-md-2 d-none d-md-block sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item"><a class="nav-link active"
							href="/admin/"> <span data-feather="home"></span> <i
								class="fa fa-home mr-1" style="font-size: 18px"></i> Trang chủ
						</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="/admin/user"> <span data-feather="home"></span> <i
								class="fa fa-user mr-1" style="font-size: 18px"></i> Tài Khoản
						</a></li>
						<li class="nav-item"><a class="nav-link"
							href="/admin/category"> <span data-feather="shopping-cart"></span>
								<i class="fa fa-dedent mr-1" style="font-size: 18px"></i> Danh
								Mục
						</a></li>
						<li class="nav-item"><a class="nav-link"
							href="/admin/product"> <span data-feather="file"></span> <i
								class="fa fa-shopping-bag mr-1" style="font-size: 18px"></i> Sản
								Phẩm
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/admin/order">
								<span data-feather="users"></span> <i
								class="fa fa-cart-arrow-down mr-1 " style="font-size: 18px"></i>
								Đơn Hàng
						</a></li>
												<li><a th:href="@{/home}">Quay lại trang mua sắm</a></li>
						
					</ul>
				</div>
			</nav>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pb-3 px-4">
				<form class="form" th:object="${productDTO}"
					th:action="@{/admin/product/add}" method="post"
					enctype='multipart/form-data'>
					<div class="row">
						<div class="col">
							<div class="nav_home_admin">
								<div class="nav_home_admin_font">
									<h5>
										Số Đơn Hàng: <span class="ml-4" th:text="${totalOrder}"></span>
									</h5>
								</div>
							</div>

						</div>
						<div class="col">
							<div class="nav_home_admin">
								<div class="nav_home_admin_font">
									<h5>
										Số Sản Phẩm: <span class="ml-4" th:text="${totalProduct}"></span>
									</h5>
								</div>

							</div>
						</div>

						<div class="col">
							<div class="nav_home_admin">
								<div class="nav_home_admin_font">
									<h5>
										Số Khách Hàng:<span class="ml-4" th:text="${totalUser}"></span>
									</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="row pt-3">
						<table class="table table-striped table-bordered table-sm"
							cellspacing="0" width="100%">
							<thead class="thead-dark">
								<tr>
									<th class="th-sm">ID</th>
									<th class="th-sm">Họ và tên</th>
									<th class="th-sm">Địa chỉ</th>
									<th class="th-sm">Ngày giao hàng</th>
									<th class="th-sm">Email</th>
									<th class="th-sm">Ngày đặt hàng</th>
									<th class="th-sm">Thanh toán</th>
									<th class="th-sm">Trạng thái</th>
									<th class="th-sm">Tổng tiền</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="order : ${orderList}">
									<td th:text="${order.id}"></td>
									<td th:text="${order.user.username}"></td>
									<td th:text="${order.address}"></td>
									<td th:text="${order.deliveryDate}"></td>
									<td th:text="${order.email}"></td>
									<td th:text="${order.orderDate}"></td>
									<td th:text="${order.payMethod}"></td>
									<td>
										<button class="change-status-button"
											th:data-order-id="${order.id}" th:text="${order.status}"></button>
									</td>
									<td th:text="${order.totalMoney}"></td>


								</tr>
							</tbody>
						</table>
					</div>
					</form>
					</main>
					
		</div>
	</div>
	

	<footer class="footer">
		<div class="container-fluid">
			<span class="text-muted">© 2023 Quản lý bán hàng</span>
		</div>
	</footer>
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

	<script>
		$(document).ready(function() {
			$('.change-status-button').click(function(event) {
				event.preventDefault();

				var orderId = $(this).data('order-id');
				var button = $(this);

				$.ajax({
					url : '/admin/order/changeStatus/' + orderId,
					type : 'POST',
					success : function(response) {
						button.text(response);
					},
					error : function(jqXHR, textStatus, errorThrown) {
						console.log('Có lỗi xảy ra: ' + errorThrown);
					}
				});
			});
		});
	</script>
</body>

</html>