<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Ogani | Template</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<nav class="navbar navbar-expand-lg ">
		<div class="navbar_left">
			<a class="navbar-brand" href="/admin/">Quản lý bán hàng</a>
		</div>
		<div class="navbar_right">
			<a href="/thoat"> Đăng Xuất </a>
		</div>

	</nav>

	<div class="container-fluid">
		<div class="row">
			<nav class="nav_bar_1 col-md-2 d-none d-md-block sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item"><a class="nav-link active"
							href="/admin/"> <span data-feather="home"></span> <i
								class="fa fa-home mr-1" style="font-size: 18px"></i> Trang chủ
						</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="/admin/user"> <span data-feather="home"></span> <i
								class="fa fa-user mr-1" style="font-size: 18px"></i> Tài Khoản
						</a></li>
						<li class="nav-item"><a class="nav-link"
							href="/admin/category"> <span data-feather="shopping-cart"></span>
								<i class="fa fa-dedent mr-1" style="font-size: 18px"></i> Danh
								Mục
						</a></li>
						<li class="nav-item"><a class="nav-link"
							href="/admin/product"> <span data-feather="file"></span> <i
								class="fa fa-shopping-bag mr-1" style="font-size: 18px"></i> Sản
								Phẩm
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/admin/order">
								<span data-feather="users"></span> <i
								class="fa fa-cart-arrow-down mr-1 " style="font-size: 18px"></i>
								Đơn Hàng
						</a></li>
						<li><a th:href="@{/home}">Quay lại trang mua sắm</a></li>
					</ul>
				</div>
			</nav>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				<div class="container">
					<h2>Danh sách danh mục</h2>

					<form class="form pb-3" th:action="@{/admin/category}" method="get">
						<input type="text" name="name" th:value="${name}" placeholder="Tìm theo tên danh mục"/>
						<button type="submit">Search</button>
					</form>
					<div class="row">
					<div class="col-2">
						<h5>Sắp xếp theo:</h5>
					</div>
					<a
						th:href="@{/admin/category(sortField='id',  sortDirection=${sortDirection}, name=${name}, pageSize=${categoryPage.size},  page=${categoryPage.number})}"
						class="mr-5">ID</a> <a
						th:href="@{/admin/category(sortField='name',  sortDirection=${sortDirection}, name=${name}, pageSize=${categoryPage.size},  page=${categoryPage.number})}"
						class="mr-5">Tên sản phẩm</a>
						<a
						th:href="@{/admin/category(sortField='productCount', sortDirection=${sortDirection}, name=${name}, pageSize=${categoryPage.size},  page=${categoryPage.number})}"
						>Số lượng</a>
				</div>
				<div class="row">
					<div class="col-2"></div>
					<a
						th:href="@{/admin/category(sortField=${sortField},  sortDirection='asc', name=${name}, pageSize=${categoryPage.size},  page=${categoryPage.number})}"
						class="mr-5">Tăng dần</a> <a
						th:href="@{/admin/category(sortField=${sortField},  sortDirection='desc', name=${name}, pageSize=${categoryPage.size},  page=${categoryPage.number})}"
						class="mr-5">Giảm dần</a>
				</div>
				<table class="table table-striped table-bordered table-sm"
					cellspacing="0" width="100%">
					<thead class="thead-dark">
						<tr>
							<th class="th-sm">ID</th>
							<th><a
								th:href="@{/admin/category(sortField='name',  sortDirection=${sortDirection}, name=${name}, pageSize=${categoryPage.size},  page=${categoryPage.number})}"
								class="th-sm">Tên sản phẩm</a></th>
							<th><a
								th:href="@{/admin/category(sortField='productCount', sortDirection=${sortDirection}, name=${name}, pageSize=${categoryPage.size},  page=${categoryPage.number})}"
								class="th-sm">Số lượng</a>
							<th class="th-sm">Cập nhật</th>
						</tr>
					</thead>
					<tbody>
    <tr th:each="category : ${categoryPage}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        
        <td>
            <span th:if="${category.parentId == 0}">Parent category</span>
            <span th:unless="${category.parentId == 0}" th:text="${category.productCount}"></span>
        </td>
        
        <td>
            <a th:href="@{'/admin/category/edit/' + ${category.id}}">Chỉnh sửa</a> ||
            <a th:href="@{'/admin/category/delete/' + ${category.id}}">Xóa</a>
        </td>
    </tr>
</tbody>

				</table>
				<div>
					<ul class="pagination">
						<li class="page-item" th:if="${categoryPage.number > 0}"><a
							th:href="@{/admin/category(page=0, sortDirection=${sortDirection}, sortField=${sortField},  name=${name})}">First</a>
						</li>
						<li class="page-item" th:if="${categoryPage.hasPrevious()}"><a
							th:href="@{/admin/category(page=${categoryPage.number - 1}, sortDirection=${sortDirection}, sortField=${sortField}, name=${name})}">Previous</a>
						</li>
						<li class="page-item"
							th:each="i : ${#numbers.sequence(0, categoryPage.totalPages - 1)}">
							<a
							th:href="@{/admin/category(page=${i}, sortDirection=${sortDirection}, sortField=${sortField}, name=${name})}"
							th:classappend="${i == categoryPage.number ? 'active' : ''}"
							th:text="${i + 1}"></a>
						</li>
						<li class="page-item" th:if="${categoryPage.hasNext()}"><a
							th:href="@{/admin/category(page=${categoryPage.number + 1}, sortDirection=${sortDirection}, sortField=${sortField}, name=${name})}">Next</a>
						</li>
						<li class="page-item"
							th:if="${categoryPage.number < categoryPage.totalPages - 1}">
							<a
							th:href="@{/admin/category(page=${categoryPage.totalPages - 1}, sortDirection=${sortDirection}, sortField=${sortField}, name=${name})}">Last</a>
						</li>
					</ul>

				</div>



				<main role="main" class="col-md-9 ml-sm-auto col-lg-10">

					<form class="form" th:object="${categoryDTO}"
						th:action="@{/admin/category/add}" method="post"
						enctype='multipart/form-data'>
						<h2>Thêm sản phẩm mới</h2>
						<div class="row"
							style="display: flex; justify-content: space-between;">
							<table
								style="border-collapse: separate; border-spacing: 15px 10px; margin: auto; margin-left: 60px;"
								class="col-md-6">

								<tr>
									<th>Tên loại sản phẩm:</th>
									<td><input type="text" th:field="*{name}"
										class="form-control" placeholder="Name" required></td>
								</tr>
								<tr>
									<th>Danh Mục</th>
									<td><select name="ParentId">
											<option th:value="0">Danh mục chính</option>
											<option th:each="listCateById : ${listCateById}"
												th:value="${listCateById.id}" th:text="${listCateById.name}"></option>
									</select></td>
								</tr>
								<tr>
									<th>Hình Ảnh</th>
									<td><label th:for="imageFile"></label> <input type="file"
										name="imageFile" /></td>
								</tr>
								<td>
									<button type="submit" class="btn btn-primary"
										style="position: absolute; top: 150px; left: 158px;"
										value="Lưu">Xác nhận</button>
								</td>

							</table>
						</div>
					</form>
				</main>
		</div>
	</div>
	</div>




	<footer class="footer">
		<div class="container-fluid">
			<span class="text-muted">© 2023 Quản lý bán hàng</span>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>